<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IAdmin" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/knjizara/admin" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IAdmin" contract="ServiceReference1.IAdmin"
                name="NetNamedPipeBinding_IAdmin">
                <identity>
                    <userPrincipalName value="DESKTOP-P0JAI0T\djuri" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>